##############################
# gitignore
##############################
# latex temp files
*.aux
*.glo
*.idx
*.log
*.toc
*.gls
*.ilg
*.ind
*.out
*.fdb_latexmk
*.listing
*.fls
*.mst
*.tcbtemp
# emacs files
**/.auctex-auto/
.dir-locals.el
.emacs-bookmarks
